= link_to('Войти', t2p_login_path, :id => 'login')

%span.title
  Регистрация аккаунта

.panel
  .description= t2p_register_by_phone_description

  = t2p_form_register_by_phone

  %p= t2p_register_by_phone_notice

= link_to('Зарегистрироваться без ввода номера телефона', t2p_register_wo_phone_path, :class => 'link_control_red')